* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    -webkit-appearance: none;
    color: #3c4043;
}

.voice-logo,
.search-logo {
    height: 26px;
    width: 26px;
}

.nav-bar {
    display: flex;
    justify-content: stretch;
}
.logo {
    margin: 30px;
}

.google-logo {
    width: 80px;
}
.links {
    display: flex;
    justify-content: flex-end;
    margin: 1.2rem;
    margin-right: 0;
    width: 52%;
    
}

.nav-link {
    margin-right: 1em;
    color: black;
    font-size: 0.9em;
    margin-top: 20px;
}

.sign-in {
    background-color: #4285f4;
    padding: 0.4rem;
    border: 1px solid #4285f4;
    border-radius: 3px;
    margin-top: 12px;
    height: 36px;
}

.sign-in > a {
    color: white;
    font-weight: 500;
    font-size: 0.9em;
}

.search {
    display: flex;
    flex-flow: row;
    justify-content: left;
    border: 1px solid #c5c5c5;
    border-radius: 30px;
    width: 690px;
    height: 46px;
    margin: 20px;
}


.search-text {
    border: 0;
    height: 38px;
    width: 580px;
    padding: 12px;
    margin-left: 18px;
    color: #c5c5c5;
    margin-top: 2px;
}

.search-seg {
    border-left: 1px solid #dfe1e5;
    height: 80%;
    margin-top: 4px;
}
.voice-logo {
    margin: 10px;
}

.search-logo {
    margin: 10px;
    margin-left: 6px;
}

.search-modes {
    display: flex;
    justify-content: space-between;
    width: 44%;
}

.modes {
    display: flex;
    flex-flow: row;
    margin: auto;
    margin-top: 8px;
    margin-right: 120px;
}

.mod-text {
    margin-right: 24px;
    font-size: 0.8em;
    height: 30px;
}

svg {
    width: 16px;
    color: #5f6368;
    margin-bottom: 14px;
}

/*setting and tools*/
.search-sets {
    display:flex;
    justify-content: space-between;
    flex-flow: row;
    margin-top: 10px;
    margin-left: 0;
}

.top-sep {
    border-bottom: 1px solid  #dad7d7;
}

.results {
    width: 34%;
    margin-left: 180px;
    height: auto;
}

.res-text {
    font-size: 0.8em;
    height: 20px;
    padding: 10px;
    color: #70757a;
}














/* Footer css below */
.footer {
    position: fixed;
    bottom: 0;
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.foot {
    border: 0.5px solid #bebebe;
    height: 40px;
}

.footer-text {
    color: #70757a;
    padding: 10px;
    margin-left: 10px;
}


.bottom{
    display: flex; 
    flex-flow: row;
    justify-content: space-between;
}

.footer-promo,
.footer-settings {
    margin: 10px;
}

.list > a{
    color: #70757a;
    padding: 10px;
}